<h3 class="helvetica flat-turquoise">Edit status</h3>
<hr />

<%= render 'form' %>

<hr />
<div class="clearfix right">

<%= link_to 'Back', people_path %>
<%= button_to 'Delete Me', @person, :confirm => "Are you sure?", :method => :delete, :class => :destroy %>
</div>