

<div class="col-sm-12">
  <h1 class="helvetica">Coffee Sunday?</h1>
  <h6 class="helvetica underdate"><% @sunday = Date.new %>
  <% @sunday = Time.now.end_of_week %>
  <%= @sunday.strftime("%B %d, %Y") %></h6>

</div>

<div class="col-sm-12">
  <h3 class="flat-green">Will be there</h3>
</div>

<% @people.each do |person| %>
  <% if person.attending? %> 
    <%= render 'list' , :person => person %>
  <% end %>
<% end %>


<div class="col-sm-12">
  <h3 class="flat-red">Won't be there</h3>
</div>

<% @people.each do |person| %>
  <% if !person.attending? %> 
    <%= render 'list' , :person => person %>
  <% end %>
<% end %>

<br>
<div class="add-person helvetica"><h4 class="flat-turquoise"><%= link_to 'Add a guest', new_person_path %></h4></div>

