/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*  {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 16px;
}

.body {
	padding-top: 2em;
}

.helvetica {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: -0.05em;
}

.underdate {
	font-size: 16px;
	letter-spacing: 0;
	padding-left: 1em;
	margin-top: -1em;
	margin-bottom: 1em;
}

.title {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border-top: 1px solid #ddd;
}

img.thumbs {
	border-radius: 34px;
	border: 4px solid #fff;
	margin: 5px;
}


div.name, div.edited {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.3;
	text-align: left;
	padding-top: 20px;
}

div.right {
	text-align: right;
}

.edit {
	font-size: 12px;
}

.flat-red {
	color: #E74C3C;
}

.flat-purple {
	color :#9B59B6;
}

.flat-green {
	color: #2ECC71;
}

.flat-turquoise {
	color : #1ABC9C;
}
